## .gitignore - игнорирование определенных файлов

bin/
obj/
*.dll
*.exe
*.pdb

packages/

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/

.vs/
*.csproj.user
*.vbproj.user

.env
appsettings.Development.json
appsettings.Local.json


*.backup
*.bak


*.log
logs/


publish/


[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


_ReSharper*/
*.[Rr]e[Ss]harper


*.ncrunch*
.*crunch*.local.xml


*.tmp
*.temp


*.nupkg
